# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @sarabala1979 @yu-croco @Joibel @alexec @alexef @alexmt @agaudreault @alexymantha @andrii-korotkov @ashutosh16 @blakepettersson @christianh814 @todaywasawesome @whynowy @edlee2121 @eduardodbr @dudinea @hblixt @wanghong230 @ishitasequeira @isubasinghe @jannfis @choejwoo @jessesuen @jmeridth @jgwest @jwinters01 @jswxstw @juliev0 @34fathombelow @keithchong @kostis-codefresh @ranakan19 @leoluz @linghaoSu @mkilchhofer @mbevc1 @MasonM @crenshaw-dev @nitishfy @ppapapetrou76 @pasha-codefresh @pjiang-dev @pdrastil @reggie-k @agrawroh @rumstead @shuangkun @gdsoumya @tczhao @tico24 @vladlosev @wtam2018 @blkperl @terrytangyuan @zachaller 
